--- 
layout: default
title: Home 
---
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
  <link rel="stylesheet" href="design.css">
  <head>
    <link rel="icon" type="image/x-icon" href="cleveland-auto-show-car-logo-png-25.ico">
    <title>supercars.bg</title>
    <a href="index.html">Back</a>
    <h1>How The Sian Was Made</h1>
  </head>
  <body> {% include navbar.html %} <div class="flex">
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/JWrcCWh6v5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="flex">
      <p>With the Sián FKP 37, a new autonomous technology is entering the automotive world. At the back of the engine hood are autonomous vent flaps actuated by smart materials that are temperature sensitive by nature. These flaps open independently when the temperature around the exhausts becomes too extreme, without the aid of electric controls and sensors, relying only on the thermal distortion of the material. With its carbon-fiber monocoque, titanium intake valves, active aerodynamics and rear-wheel steering, the Sián FKP 37 employs cutting-edge technology everywhere—not only in the world’s first supercapacitor hybrid system.</p>
    </div> {% include image.html imagename="c101-lamborghini-sian-rds-final-150-1594215284.jpg" %} <div class="flex">
      <p></p>
      <p>Subscribe To Our News Letter</p>
      <div class="third">
        <input class="stack" placeholder="Name" />
        <input class="stack" placeholder="Email" />
        <button class="stack icon-paper-plane"> Subscribe </button>
      </div>
      <footer>
        <h1>CarsBri4ka®</h1>
      </footer>
    </div>
  </body>
</html>